body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#7aa2e3, #a6c4ff);
  font-family: monospace;
  overflow: hidden;
}

* {
  image-rendering: pixelated;
}

/* ICONS */
.icon {
  position: absolute;
  width: 80px;
  text-align: center;
  cursor: pointer;
  color: #000;
}

.icon span {
  background: #e4e4e4;
  padding: 2px 4px;
  display: inline-block;
  border: 1px solid #000;
}

/* WINDOWS */
.window {
  width: 260px;
  background: #e4e4e4;
  border: 2px solid #000;
  position: absolute;
  display: none;
}

.title-bar {
  background: #3b5dc9;
  color: #fff;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.title-bar button {
  background: #e4e4e4;
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.content {
  padding: 10px;
}

ul {
  margin: 0;
  padding-left: 18px;
}

li {
  margin: 4px 0;
}

/* TASKBAR */
.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  background: #c0c0c0;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
}

.start {
  margin: 0 6px;
  border: 2px solid #000;
  background: #e4e4e4;
  padding: 2px 10px;
  cursor: pointer;
}

.task {
  margin-right: 6px;
  padding: 2px 6px;
  border: 1px solid #000;
  background: #e4e4e4;
}

/* START MENU */
.start-menu {
  position: absolute;
  bottom: 34px;
  left: 6px;
  width: 140px;
  background: #e4e4e4;
  border: 2px solid #000;
  display: none;
}

.start-menu p {
  margin: 0;
  padding: 6px;
  border-bottom: 1px solid #000;
}
